.bg-gradient {
    background: radial-gradient(white 50%, lightblue 100%);
    box-shadow: 0px 0px 500px inset #bfdbfe;
}

.bgimage {
    background-image: linear-gradient(
                            0deg, 
                            rgba(0,0,0,0.2), 
                            rgba(0,0,0,0.7)
                        ), 
                        url("./assets/img/contact.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.hmarque {
    animation: hmarquee 10s infinite linear;
    text-wrap: nowrap;
    position: relative;
}

@keyframes hmarquee {
    0% {left: 100%;}
    10% {left: 60%;}
    20% {left: 40%;}
    30% {left: 20%;}
    40% {left: 0%;}
    50% {left: -20%;}
    60% {left: -40%;}
    70% {left: -60%;}
    80% {left: -80%;}
    90% {left: -100%;}
    100% {left: -150%;}
}

@media screen and (max-width: 768px) {
    .bgimage { background-image: linear-gradient(
                            0deg, 
                            rgba(0,0,0,0.8), 
                            rgba(0,0,0,0.8)
                            ), 
                            url("./assets/img/contact.jpg");
    }
}